<html>
	<div style="max-width: 480px; margin: auto;">
		<img src="http://computc.org/images/logobg.png" style="width: 100%"/>
		<div style="margin-top: 1em; margin-bottom: 1em; text-align: justify;">
			Hey, {{firstname}}! Welcome to CompUTC! Etsy doostang
			zoodles disqus groupon greplin oooj voxy zoodles, weebly
			ning heekya handango imeem plugg dopplr jibjab, movity
			jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo
			kaboodle quora plaxo ideeli hulu weebly balihoo kno vimeo
			zlio voxy zinch twones zoodles joost, sococo zynga imvu
			imeem stypi lijit bubbli flickr mog sococo greplin bebo.
		</div>
		<a href="http://www.computc.org/profile/{{utcid}}/verify/{{token}}" style="text-decoration: none; font-weight: bold; text-align: center;">
			<div style="width: 240px; padding: 1em; margin: auto; border-radius: 4px; color: #EDEDED; background-color: #CC3333;">
				Activate your Account!
			</div>
		</a>
		<div style="margin-top: 1em; margin-bottom: 1em; text-align: justify;">
			To activate your account, go to
			"http://www.computc.org/profile/{{utcid}}/verify/{{token}}".
			You will be redirected to your profile, where you can change
			to your preferred email address. This token for activating
			your account will expire in two hours.
		</div>
		<div style="text-align: center;">
			Thanks again for joining! I'm sure we'll you around the EMCS.
		</div>
	</div>
</html>